// Copy code in steps

.code-copy-wrapper {
    position: relative;
    display: inline-flex;
}

.copy-code-button {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: 5px 6px 6px;
    cursor: pointer;
    color: #333;
    line-height: 1;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    border: none;
    background: #F8F9FA;
    border-radius: 5px;
    &:hover,
    &:focus {
      background-color: rgba(180, 180, 180, 1);
    }

    svg {
      display: block;
      width: 1em;
      height: 1em;
      pointer-events: none;
    }

    &.copied {
        background-color: rgba(92, 184, 92, 1); // #5cb85c with alpha
        border-color: rgba(92, 184, 92, 1);   // #5cb85c with alpha
        color: white;
    }
}


// Copy code injection
#copyInjectionBtn {
    min-width: 225px;
    width: 225px;
    display: flex; 
    align-items: center;
    gap: 0.5em; 
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, color 0.1s ease-in-out; /* Smooth transition */
  }
  #copyInjectionBtn .btn-icon svg {
    display: block; 
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  #copyInjectionBtn.copied-success {
    background-color: #5cb85c; 
    border-color: #4cae4c;
    color: white;
  }

  