@use 'variables' as *;

.nav-sidebar {
	background-color: #F3F3F6;
	padding: 1rem;
	width: 180px;
	flex: 0 0 180px;
	display: flex;
	flex-direction: column;
	overflow: auto;	
	padding: 16px 16px 6px 16px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 0;
			margin: 0;
			a {
				text-decoration: none;
				color: $color-text;
				transition: all 0.25s ease;
				padding: 10px 12px;
				display: block;
				border-radius: 5px;
				&:hover {
					text-decoration: none;
					color: $color-secondary;
					background: #fff;
				}
			}
            &.active {
				
                a {
					background-color: $color-secondary;
                    color: #fff;
                }
            }
			&.nav-first {
				padding: 0 0 10px 0;
			}
			&.nav-bordered {
				border-top: 1px  $color-border solid;
				border-bottom: 1px $color-border  solid;
				padding: 10px 0;
			}
			&.nav-title {
				color: rgb(117, 117, 117);
				padding: 16px 12px;
			}
		}
	}
	footer {
		margin-top: auto;
	}
}
